.languageSwitcherWrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 42px;
  height: 42px;
  z-index: 5;
}

.langBtn {
  /* padding: 9px; */
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  color: rgba(108, 122, 139, 0.95);
  /* background-color: rgba(108, 122, 139, 0.25); */
  background-color: transparent;
  border: none;

  /* border: 2px solid rgba(88, 147, 212, 0.65); */
  /* border-radius: 25%; */
  cursor: pointer;
}

.langBtn:hover,
.langBtn:focus {
  color: #000000;
  /* border: 2px solid rgba(88, 147, 212, 0.95); */
}

.languageIcon {
  width: 22px;
  height: 22px;
  fill: #8b98b2;
  animation-name: changeIconColor;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeIconColor {
  0% {
    fill: #8b98b2;
  }

  50% {
    fill: #5893d4;
  }

  100% {
    fill: #8b98b2;
  }
}
@media screen and (min-width: 768px) {
  .languageSwitcherWrapper {
    right: 36px;
    top: 25px;
  }
  .langBtn {
    font-size: 15px;
  }
}
@media screen and (min-width: 1250px) {
  .languageSwitcherWrapper {
    right: 30px;
    top: 60px;
  }
}
